/* top  */

/* @media screen and (min-width: 768px) {
  .top-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 0;
  }
} */

/* @media screen and (max-width: 767px) {
  .top-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 0;
  }
} */

.top {
  background-color: #fee440;
  padding: 100px 0 70px;
}

.top-main {
  text-align: center;
  letter-spacing: 0.2em;
}

.top-main p {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  z-index: 10;
}

.top-main p::before {
  content: "";
  position: relative;
  position: absolute;
  width: 190px;
  height: 32px;
  background-color: #222;
  top: 0;
  right: 50%;
  z-index: -10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.top-main h2 {
  margin-top: 22px;
  color: #fff;
  font-size: 34px;
}

.about {
  background-color: #fef9ef;
  position: relative;
}

.hdg_lv2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 210px;
  height: 68px;
  background: url(/assets/images/pages/index/bg-flag-h2.png) top left no-repeat;
  background-size: auto 100%;
  opacity: 0.05;
}

@media screen and (min-width: 768px) {
  .hdg_lv2:before {
    width: 711px;
    height: 230px;
  }
}

.content {
  border-radius: 5 px;
  background: #fff;
  -webkit-box-shadow: rgb(0 0 0 / 20%) 0 2px 3px 0;
  box-shadow: rgb(0 0 0 / 20%) 0 2px 3px 0;
}

@media screen and (min-width: 768px) {
  .about-content {
    display: flex;
    flex-flow: wrap;
    margin: -20px -20px 0 0;
  }
  .content {
    width: calc(33.3% - 22px);
    margin: 20px 20px 0 0;
  }
}

/* スライダー */

.slider {
  background-color: #fef9ef;
}

.slider .inner {
  padding-top: 0;
  padding-bottom: 0;
}

.container {
  position: relative;
  width: auto;
  height: 250px;
  margin: 0 auto;
}

.sliderbox {
  overflow: hidden;
}

.sliderlist {
  display: flex;
  list-style: none;
}

.sliderlist__item {
  flex-shrink: 0;
  width: 250px;
  height: auto;
}

.sliderlist__item img {
  width: 250px;
  height: auto;
}

.sliderlist__item1 {
  background-color: rgb(245, 245, 245);
}

.sliderlist__item2 {
  background-color: rgb(225, 225, 225);
}

.sliderlist__item3 {
  background-color: rgb(205, 205, 205);
}

.prev {
  position: absolute;
  top: 50%;
  left: 20%;
  width: 20px;
  height: 20px;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  cursor: pointer;
  transform: translateY(-50%) rotate(45deg);
  z-index: 999;
}

.next {
  position: absolute;
  top: 50%;
  right: 20%;
  width: 20px;
  height: 20px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  cursor: pointer;
  transform: translateY(-50%) rotate(-45deg);
}

.prev-inner {
  position: absolute;
  display: none;
  top: 0;
  width: 20px;
  height: 100%;
  left: 25%;
  background: #222;
  z-index: 2;
}

.next-inner {
  position: absolute;
  top: 0;
  width: 20px;
  height: 100%;
  right: 25%;
  background: #222;
}

.prev-inner:hover {
  cursor: pointer;
} 

.next-inner {
  cursor: pointer;
}




@media screen and (max-width: 768px) {

  .container {
    position: relative;
    width: auto;
    height: 100px;
    margin: 0 auto;
  }
  /* 矢印 */
  .prev {
    position: absolute;
    top: 50%;
    left: 30%;
    width: 10px;
    height: 10px;
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    cursor: pointer;
    transform: translateY(-50%) rotate(45deg);
  }

  .next {
    position: absolute;
    top: 50%;
    right: 30%;
    width: 10px;
    height: 10px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    cursor: pointer;
    transform: translateY(-50%) rotate(-45deg);
  }

  .prev-inner {
    position: absolute;
    display: none;
    top: 0;
    width: 20px;
    height: 100%;
    left: 0px;
    background: #222;
    z-index: 2;
  }
  
  .next-inner {
    position: absolute;
    top: 0;
    width: 20px;
    height: 100%;
    right: 0px;
    background: #222;
  }

  .sliderlist__item img, .sliderlist__item{
    width: 100px;
    height: auto;
  }
}

.content-img {
  position: relative;
  flex: 0 0 auto;
  padding-bottom: 100%;
  background: #ebebeb;
}

.content-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.content-player {
  display: flex;
  flex-flow: column;
  padding: 5px 10px 11px 0;
  font-style: italic;
  text-align: center;
  background-color: #fff;
}

.content-player h3 {
  order: 2;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.7;
}

.content-player h3 span {
  font-size: 1em;
  display: block;
  font-family: "Roboto Condensed";
  font-size: 0.79rem;
  font-weight: 300;
}

.content-player p {
  order: 1;
  font-family: "Roboto Condensed";
  font-size: 67px;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .content {
    width: 250px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .content-player h3 {
    order: 2;
    font-size: 1.28rem;
    font-weight: 700;
  }

  .content-player h3 span {
    font-size: 1em;
    display: block;
    font-family: "Roboto Condensed";
    font-size: 0.79rem;
    font-weight: 300;
  }

  .content-player p {
    order: 1;
    font-family: "Roboto Condensed";
    font-size: 38px;
    font-weight: 700;
    line-height: 1.27;
  }
}

.twitter {
  position: relative;
  background-color: #fef9ef;
  text-align: center;
}

.twitter-title {
  padding: 75px 0 75px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  z-index: 10;
}

@media screen and (min-width: 768px) {
  .twitter-title {
    padding: 67px 0 67px;
  }
}

.twitter-title::before {
  content: "";
  position: relative;
  position: absolute;
  width: 190px;
  height: 32px;
  background-color: #222;
  top: 0;
  right: 50%;
  z-index: -10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.twitter .inner {
  padding-top: 0px;
}

@media screen and (max-width: 767px) {
  .twitter .inner {
    margin-top: -30px;
  }
}

.timeline-Footer {
  display: none;
}
