/* 共通クラス */
/* .inner {
  padding: 0px 15px;
}

@media screen and (min-width: 768px) {
  .inner {
    max-width: 950px;
    margin: 0 auto;
    padding: 0px;
  }
  .br-none {
    display: none;
  }
} */

a:hover {
  opacity: 0.8;
}

body {
  color: #222;
  width: 100%;
}

.inner {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 50px;
}

@media screen and (max-width: 767px) {
  .inner {
    padding: 80px 8px;
  }
}

.header-inner {
  background-color: #a2d2ff;
  height: 105px;
}

.header-logo {
  text-align: center;
}

.header-logo img {
  width: 157px;
  height: auto;
  margin: 20px 0;
}

/* footer */

.footer-inner {
  padding: 10px 0;
}

.sns {
  display: flex;
  justify-content: center;
}

.sns li {
  margin: 0 20px;
}

/* 追随メニュー */
.global-nav {
  position: absolute;
  width: 100%;
  z-index: 10;
}
.global-nav__list {
  padding-top: 10px;
  background: #a2d2ff;
}
.global-nav__list li {
  padding: 0 14px;
}
.global-nav__list li a {
  display: block;
  height: 50px;
  line-height: 50px;
  color: #111;
  text-decoration: none;
}

.global-nav.clone-nav {
  position: fixed;
  bottom: -60px;
  left: 0;
  transition: all 0.3s ease-out;
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.global-nav.clone-nav.is-fixed-nav {
  bottom: 0;
}

.global-nav {
  display: none;
}

.clone-nav {
  display: block;
}

@media screen and (min-width: 768px) {
  .sns {
    display: flex;
    justify-content: center;
    padding: 20px;
    min-width: 1280px;
  }

  .sns li {
    margin: 0 40px;
  }

  .global-nav.clone-nav {
    bottom: -100px;
  }
}
